.navbar {
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 px;      
  box-sizing: border-box;

  position: sticky;
  top: 0;
  z-index: 10;
  overflow: visible;   
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;            
  padding-right: 30px; 
  flex-shrink: 0;       
}

.avatar-circle {
  width: 38px;
  height: 38px;
  background: #4f46e5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  flex-shrink: 0;       
}

.nav-username {
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  white-space: nowrap; 
}

.navLogout {
  background: #ef4444;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  white-space: nowrap;  
}

.navLogout:hover {
  background: #dc2626;
}
